%%time
import zipfile
with zipfile.ZipFile('D:/New folder/txt_reviews.zip', 'r') as zip_ref:
    zip_ref.extractall('D:/New folder')

Wall time: 26min 14s

ProductId: B001E4KFG0
UserId: A3SGXH7AUHU8GW
ProfileName: delmartian
HelpfulnessNumerator: 1
HelpfulnessDenominator: 1
Score: 5
Time: 1303862400
ReviewSummary: Good Quality Dog Food
ReviewText: I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.

for i in tqdm(range(1,568455)):
    first = open(r"D:\New folder\txt_reviews\review_{}.txt".format(i), "r", errors = 'ignore')as f:
        lines = f.readlines()
        product_id.append(lines[1].split(':')[1])
        user_id.append(lines[2].split(':')[1])
        profile_name.append(lines[3].split(':')[1])

from tqdm import tqdm
product_id = []
user_id = []
profile_name =[]
helpfulness_numerator = []
helpfulness_denominator = []
score = []
time = []
review_summary = []
review_text = []

for i in tqdm(range(1,568455)):
    first = open(r"D:\New folder\txt_reviews\review_{}.txt".format(i), "r", errors = 'ignore')
    product_id.append(first.readline().split(':')[1])
    user_id.append(first.readline().split(':')[1])
    profile_name.append(first.readline().split(':')[1])
    helpfulness_numerator.append(first.readline().split(':')[1])
    helpfulness_denominator.append(first.readline().split(':')[1])
    score.append(first.readline().split(':')[1])
    time.append(first.readline().split(':')[1])
    review_summary.append(first.readline().split(':')[1])
    review_text.append(first.readline().split(':')[1])

data = pd.DataFrame({'product_id'              : product_id,
                     'user_id'                 : user_id, 
                     'profile_name'            : profile_name,
                     'helpfulness_numerator '  : helpfulness_numerator, 
                     'helpfulness_denominator' : helpfulness_denominator,
                     'score'                   : score,
                     'time'                    : time,
                     'review_summary'          : review_summary,
                     'review_text'             : review_text        })

data.head()

data.to_csv('text_data_grproject.csv')

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('text_data_grproject.csv')

In [3]:
del df['Unnamed: 0']

In [4]:
df.head()

,product_id,user_id,profile_name,helpfulness_numerator,helpfulness_denominator,score,time,review_summary,review_text
0,B001E4KFG0\n,A3SGXH7AUHU8GW\n,delmartian\n,1,1,5,1303862400,Good Quality Dog Food\n,I have bought several of the Vitality canned ...
1,B00813GRG4\n,A1D87F6ZCVE5NK\n,dll pa\n,0,0,1,1346976000,Not as Advertised\n,Product arrived labeled as Jumbo Salted Peanu...
2,B000LQOCH0\n,ABXLMWJIXXAIN\n,"Natalia Corres ""Natalia Corres""\n",1,1,4,1219017600,"""Delight"" says it all\n",This is a confection that has been around a f...
3,B000UA0QIQ\n,A395BORC6FGVXV\n,Karl\n,3,3,2,1307923200,Cough Medicine\n,If you are looking for the secret ingredient ...
4,B006K2ZZ7K\n,A1UQRSCLF8GW1T\n,"Michael D. Bigham ""M. Wassir""\n",0,0,5,1350777600,Great taffy\n,Great taffy at a great price. There was a wi...

time change
\n removal
data_type change
preprocessing
duplicate removal

In [5]:
df['product_id'] = df['product_id'].str.replace('\n','')

In [6]:
df['user_id'] = df['user_id'].str.replace('\n','')

In [7]:
df['profile_name'] = df['profile_name'].str.replace('\n','')

In [8]:
df['review_summary'] = df['review_summary'].str.replace('\n','')

In [9]:
df['review_text'] = df['review_text'].str.replace('\n','')

In [10]:
df['profile_name'].replace(regex = True, inplace = True, to_replace = r'[^a-zA-z]',value = r' ')

In [11]:
df['profile_name'] = df['profile_name'].str.lower()

In [12]:
pd.to_datetime(df['time'], unit='s')

0        2011-04-27
1        2012-09-07
2        2008-08-18
3        2011-06-13
4        2012-10-21
            ...
568449   2011-03-09
568450   2012-03-09
568451   2012-02-21
568452   2012-03-13
568453   2012-05-31
Name: time, Length: 568454, dtype: datetime64[ns]

In [13]:
df['time']=pd.to_datetime(df['time'], unit='s')

In [14]:
df.isnull().sum()

product_id                 0
user_id                    0
profile_name               0
helpfulness_numerator      0
helpfulness_denominator    0
score                      0
time                       0
review_summary             0
review_text                0
dtype: int64

In [15]:
df.duplicated().sum()

287

In [16]:
df.drop_duplicates(inplace = True)

In [17]:
df['score'].value_counts()

5    362930
4     80627
1     52231
3     42614
2     29765
Name: score, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568167 entries, 0 to 568453
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   product_id               568167 non-null  object
 1   user_id                  568167 non-null  object
 2   profile_name             568167 non-null  object
 3   helpfulness_numerator    568167 non-null  int64
 4   helpfulness_denominator  568167 non-null  int64
 5   score                    568167 non-null  int64
 6   time                     568167 non-null  datetime64[ns]
 7   review_summary           568167 non-null  object
 8   review_text              568167 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 43.3+ MB

In [19]:
df = df.dropna(how='any',axis=0)

In [20]:
len(df)

568167

In [21]:
df.isnull().sum()

product_id                 0
user_id                    0
profile_name               0
helpfulness_numerator      0
helpfulness_denominator    0
score                      0
time                       0
review_summary             0
review_text                0
dtype: int64

In [69]:
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.24.2.

# Splitting the data

In [22]:
import sklearn


X = df.drop('score',axis = 1)

y = df['score']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=100)
X_train.head()

,product_id,user_id,profile_name,helpfulness_numerator,helpfulness_denominator,time,review_summary,review_text
40571,B00020HHRW,A1KPQQXV7G8CLK,c swanson momof,3,3,2011-07-23,Recommended by herbalist--love it.,We've been drinking this tea for about 2 year...
459082,B002OFU7W0,A2R1HUYHXV7H18,kristi g mom of sage,2,2,2009-08-17,Taste like Hot Wings,I can't give these a 5 because the ingredient...
180167,B007PA34DI,A1GC05P0BYS8KQ,calif reader buzz,0,0,2012-10-17,good cup of joe,This is a very good coffee. My son and I both...
138329,B000HDOPYC,A3H8IP3GIN1X10,fabriccolor,1,1,2011-06-08,Loacker Quadratini Lemon Wafer Cookie,This wafer has the best tart and freshest le...
111573,B007FRDDB4,A15CACRPPQWJI1,b wise,0,0,2011-08-20,Great herbal tea,"I grew up on lipton black tea, brewed for hou..."

# Text Preprocessing

In [23]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

stemmer = PorterStemmer()

lemmatizer = WordNetLemmatizer()

In [24]:
def preprocess(raw_text, flag):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)
    
    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()
    
    # remove stop words                
    clean_tokens = [t for t in tokens if not t in stopwords.words("english")]
    
    # Stemming/Lemmatization
    if(flag == 'stem'):
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]
    
    return pd.Series([" ".join(clean_tokens), len(clean_tokens)])

In [25]:
from tqdm import tqdm, tqdm_notebook


tqdm.pandas()

temp_df = X_train['review_summary'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████| 426125/426125 [17:57<00:00, 395.39it/s]

                                            0  1
40571              recommended herbalist love  3
459082                    taste like hot wing  4
180167                           good cup joe  3
138329  loacker quadratini lemon wafer cookie  5
111573                       great herbal tea  3

In [26]:
temp_df.columns = ['clean_review_summary', 'len_review_summary']
temp_df.head()

                         clean_review_summary  len_review_summary
40571              recommended herbalist love                   3
459082                    taste like hot wing                   4
180167                           good cup joe                   3
138329  loacker quadratini lemon wafer cookie                   5
111573                       great herbal tea                   3

In [27]:
X_train = pd.concat([X_train, temp_df['clean_review_summary']], axis=1)

In [28]:
temp_df1 = X_train['review_text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df1.head()

100%|████████████████████████████████████████████████████████████████████████| 426125/426125 [7:58:24<00:00, 14.85it/s]

                                                        0   1
40571   drinking tea year mild taste much like regular...  54
459082  give ingredient show processed sure healthy br...  33
180167  good coffee son enjoy coffee even usually like...  15
138329  wafer best tart freshest lemon flavor lemon co...  14
111573  grew lipton black tea brewed hour sugar lemon ...  39

In [29]:
temp_df1.to_csv('temp_df1.csv')

In [30]:
temp_df1.columns = ['clean_review_text','len_review_text']

In [31]:
temp_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426125 entries, 40571 to 56112
Data columns (total 2 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   clean_review_text  426125 non-null  object
 1   len_review_text    426125 non-null  int64
dtypes: int64(1), object(1)
memory usage: 9.8+ MB

In [32]:
X_train = pd.concat([X_train,temp_df1['clean_review_text']],axis = 1)

In [33]:
X_train.head()

,product_id,user_id,profile_name,helpfulness_numerator,helpfulness_denominator,time,review_summary,review_text,clean_review_summary,clean_review_text
40571,B00020HHRW,A1KPQQXV7G8CLK,c swanson momof,3,3,2011-07-23,Recommended by herbalist--love it.,We've been drinking this tea for about 2 year...,recommended herbalist love,drinking tea year mild taste much like regular...
459082,B002OFU7W0,A2R1HUYHXV7H18,kristi g mom of sage,2,2,2009-08-17,Taste like Hot Wings,I can't give these a 5 because the ingredient...,taste like hot wing,give ingredient show processed sure healthy br...
180167,B007PA34DI,A1GC05P0BYS8KQ,calif reader buzz,0,0,2012-10-17,good cup of joe,This is a very good coffee. My son and I both...,good cup joe,good coffee son enjoy coffee even usually like...
138329,B000HDOPYC,A3H8IP3GIN1X10,fabriccolor,1,1,2011-06-08,Loacker Quadratini Lemon Wafer Cookie,This wafer has the best tart and freshest le...,loacker quadratini lemon wafer cookie,wafer best tart freshest lemon flavor lemon co...
111573,B007FRDDB4,A15CACRPPQWJI1,b wise,0,0,2011-08-20,Great herbal tea,"I grew up on lipton black tea, brewed for hou...",great herbal tea,grew lipton black tea brewed hour sugar lemon ...

# Test Data

In [34]:
X_test.head()

,product_id,user_id,profile_name,helpfulness_numerator,helpfulness_denominator,time,review_summary,review_text
538562,B002RPFBPU,A3RR2P5IS3DGPR,dr m a dixon hyper observant,1,1,2011-12-07,Delicious crumb cake,Although I have been gluten-free for a long t...
428501,B002Y2OWII,A14WEZMAYP00LO,t samuelson,0,0,2011-08-26,Love me some Community Coffee!,This is my favorite coffee out of all coffees...
25186,B0081XIA1E,A1TQY488XO9D8C,julia luther julia,0,0,2012-08-04,Not Much of a Puzzle,"After the first go-round, my little mutt knew..."
328048,B002ON7JOG,A2SV0Z9WZHGIG8,birdie,0,0,2011-03-10,My favorite cookies!,Love these cookies. Perfect 3 oz size bags at...
73156,B001QTN58S,A1ZD3YBI92721D,dunnaldur,7,7,2010-04-17,The Original,Just want to share that the first reviewer gi...

In [35]:
temp_df2 = X_test['review_summary'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df2.head()

100%|█████████████████████████████████████████████████████████████████████████| 142042/142042 [05:58<00:00, 395.96it/s]

                            0  1
538562   delicious crumb cake  3
428501  love community coffee  3
25186             much puzzle  2
328048         favorite cooky  2
73156                original  1

In [36]:
temp_df2.columns = ['clean_review_summary', 'len_review_summary']
temp_df2.head()

         clean_review_summary  len_review_summary
538562   delicious crumb cake                   3
428501  love community coffee                   3
25186             much puzzle                   2
328048         favorite cooky                   2
73156                original                   1

In [37]:
temp_df2.to_csv('temp_df2.csv')

In [38]:
temp_df3 = X_test['review_text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df3.head()

100%|████████████████████████████████████████████████████████████████████████| 142042/142042 [1:10:54<00:00, 33.39it/s]

                                                        0   1
538562  although gluten free long time first chestnut ...  85
428501  favorite coffee coffee german coffee many flav...  30
25186   first go round little mutt knew exactly get hi...  56
328048  love cooky perfect oz size bag great price wis...  15
73156   want share first reviewer giving star calling ...  16

In [39]:
temp_df3.columns = ['clean_review_text','len_review_text']

In [40]:
temp_df3.to_csv('temp_df3.csv')

In [41]:
X_test = pd.concat([X_test,temp_df2['clean_review_summary'],temp_df3['clean_review_text']],axis = 1)
X_test.head()

,product_id,user_id,profile_name,helpfulness_numerator,helpfulness_denominator,time,review_summary,review_text,clean_review_summary,clean_review_text
538562,B002RPFBPU,A3RR2P5IS3DGPR,dr m a dixon hyper observant,1,1,2011-12-07,Delicious crumb cake,Although I have been gluten-free for a long t...,delicious crumb cake,although gluten free long time first chestnut ...
428501,B002Y2OWII,A14WEZMAYP00LO,t samuelson,0,0,2011-08-26,Love me some Community Coffee!,This is my favorite coffee out of all coffees...,love community coffee,favorite coffee coffee german coffee many flav...
25186,B0081XIA1E,A1TQY488XO9D8C,julia luther julia,0,0,2012-08-04,Not Much of a Puzzle,"After the first go-round, my little mutt knew...",much puzzle,first go round little mutt knew exactly get hi...
328048,B002ON7JOG,A2SV0Z9WZHGIG8,birdie,0,0,2011-03-10,My favorite cookies!,Love these cookies. Perfect 3 oz size bags at...,favorite cooky,love cooky perfect oz size bag great price wis...
73156,B001QTN58S,A1ZD3YBI92721D,dunnaldur,7,7,2010-04-17,The Original,Just want to share that the first reviewer gi...,original,want share first reviewer giving star calling ...

In [42]:
X_test.drop(['review_summary','review_text'] , axis = 1, inplace = True)

In [43]:
X_train.drop(['review_summary','review_text'] , axis = 1, inplace = True)

In [44]:
X_test.to_csv('clean_test_review.csv')

In [45]:
X_train.to_csv('clean_train_review.csv')

# Bag Of Words

In [46]:
%%time
from sklearn.feature_extraction.text import CountVectorizer

vocab = CountVectorizer()

X_train_bow = vocab.fit_transform(X_train['clean_review_text'])

Wall time: 30 s

In [47]:
from sys import getsizeof

print(type(X_train_bow))
print(getsizeof(X_train_bow), "Bytes")

<class 'scipy.sparse.csr.csr_matrix'>
48 Bytes

In [48]:
X_test_bow = vocab.transform(X_test['clean_review_text'])

# TF_IDF

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [50]:
vectorizer = TfidfVectorizer()

In [51]:
%%time
X_train_tfidf = vectorizer.fit_transform(X_train['clean_review_text'])

Wall time: 27.7 s

In [52]:
X_test_tfidf = vectorizer.transform(X_test['clean_review_text'])

# Logistic Regression on BOW

In [53]:
%%time

from sklearn.linear_model import LogisticRegression
lr_bow = LogisticRegression()
lr_bow.fit(X_train_bow, y_train)

Wall time: 1min 19s

C:\Users\ganiv\anaconda3\1\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [54]:
%%time

y_test_pred = lr_bow.predict(X_test_bow)

Wall time: 277 ms

In [55]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test, y_test_pred))

print(classification_report(y_test, y_test_pred))

0.7355148477210965
              precision    recall  f1-score   support

           1       0.66      0.65      0.66     13062
           2       0.43      0.24      0.31      7507
           3       0.46      0.30      0.37     10536
           4       0.52      0.25      0.33     20127
           5       0.79      0.95      0.86     90810

    accuracy                           0.74    142042
   macro avg       0.57      0.48      0.51    142042
weighted avg       0.70      0.74      0.70    142042

# Logistic Regression on TF_IDF

In [56]:
%%time

from sklearn.linear_model import LogisticRegression
lr_tfidf = LogisticRegression()
lr_tfidf.fit(X_train_tfidf, y_train)

Wall time: 1min 15s

C:\Users\ganiv\anaconda3\1\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [57]:
y_test_pred = lr_tfidf.predict(X_test_tfidf)

In [58]:
print(accuracy_score(y_test, y_test_pred))

0.7334027963560074

# Decision Tree on BOW

In [59]:
%%time

from sklearn.tree import DecisionTreeClassifier
dt_bow = DecisionTreeClassifier()
dt_bow.fit(X_train_bow, y_train)

Wall time: 1h 12min 39s

DecisionTreeClassifier()

In [60]:
%%time

y_test_pred = dt_bow.predict(X_test_bow)

Wall time: 569 ms

In [61]:
print(accuracy_score(y_test, y_test_pred))

0.7484758029315273

# Decision Tree on TF_IDF

In [62]:
%%time

from sklearn.tree import DecisionTreeClassifier
dt_tfidf = DecisionTreeClassifier()
dt_tfidf.fit(X_train_tfidf, y_train)

Wall time: 1h 21min 39s

DecisionTreeClassifier()

In [63]:
%%time

y_test_pred = dt_tfidf.predict(X_test_tfidf)

Wall time: 768 ms

In [64]:
print(accuracy_score(y_test, y_test_pred))

0.7404288872305375

# KNN

Time taking process

# Random Forest

%%time

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train_bow, y_train)

%%time

y_test_pred = classifier.predict(X_test_bow)

print(accuracy_score(y_test, y_test_pred))

Time taking process

# Saving the models

In [68]:
from pickle import dump

dump(vocab, open('C:/streamlit model deployment/models/bow_vocab.pkl', 'wb'))
dump(lr_bow, open('C:/streamlit model deployment/models/lr_bow_model.pkl', 'wb'))
dump(lr_tfidf, open('C:/streamlit model deployment/models/lr_tfidf_model.pkl', 'wb'))
dump(dt_bow, open('C:/streamlit model deployment/models/dt_bow_model.pkl', 'wb'))
dump(dt_tfidf, open('C:/streamlit model deployment/models/dt_tfidf_model.pkl', 'wb'))

In [73]:
import numpy as np
from pickle import load
# Loading pretrained classifiers from pickle file

vocab = load(open('C:/streamlit model deployment/models/bow_vocab.pkl', 'rb'))
lr_bow = load(open('C:/streamlit model deployment/models/lr_bow_model.pkl', 'rb'))
lr_tfidf = load(open('C:/streamlit model deployment/models/lr_tfidf_model.pkl', 'rb'))
dt_bow = load(open('C:/streamlit model deployment/models/dt_bow_model.pkl', 'rb'))
dt_tfidf = load(open('C:/streamlit model deployment/models/dt_tfidf_model.pkl', 'rb'))

# Model Deployment

In [ ]:
def preprocess_deployment(raw_text, flag):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)

    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()

    # remove stop words
    clean_tokens = [t for t in tokens if not t in stopwords.words("english")]

    # Stemming/Lemmatization
    if (flag == 'stem'):
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]

    return ([" ".join(clean_tokens)])

In [ ]:
input_ = input('enter : ')
pre = preprocess_deployment(input_,'lemma')

In [ ]:
print(pre)

In [ ]:
transformed = vocab.transform(pre)

In [ ]:
pred = lr_bow.predict(transformed)
print(pred)